//////////////////////////////////////
//////// COLORS
$color-primary-dark: #bb1333;
$color-primary: #e91e63;
$color-primary-light: #f8bbd0;
$color-white: #fff;

//////////////////////////////
$box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);

///////////////////////////////////////
//////// MIXINS

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin main-container {
  width: 60rem;
  max-width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

///////////////////////////////////////
/////// Global Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

main > section {
  position: relative;
  border-bottom: 0.5px solid;
  padding: 6rem 5vw;
  background-color: $color-primary-light;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 60em) {
    flex-wrap: wrap;
    padding: 3rem 5vw;
  }
}
