* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

main > section {
  position: relative;
  min-height: 100vh;
  border-bottom: 0.5px solid;
  padding: 6rem 5vw;
  background-color: #f8bbd0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 60em) {
  main > section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact__container {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  z-index: 1000;
}

.contact__info {
  border: 1px solid;
  position: absolute;
  right: 1%;
  bottom: 4.5rem;
  background-color: #bb1333;
  border-radius: 0.6rem;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.contact__info-phone, .contact__info-email {
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  padding: 4rem 2rem;
  -webkit-box-shadow: -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact__info-phone i.fas, .contact__info-email i.fas {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.contact__check {
  display: none;
}

.contact__check:checked + .contact__info {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact__check:checked ~ .contact__btn {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.contact__btn {
  position: absolute;
  right: 1%;
  bottom: 4%;
  border: 1px solid;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #bb1333;
  font-size: 2.8rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  visibility: hidden;
}

@media only screen and (max-width: 48em) {
  .contact__btn {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2.3rem;
  }
}

.footer {
  background-color: #bb1333;
  color: #f8bbd0;
  padding: 1rem;
}

.footer .copyright {
  text-align: center;
  font-size: 1.2rem;
}

#header {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f8bbd0), color-stop(0%, #bb1333));
  background-image: linear-gradient(to top, #f8bbd0 0% 20%, #bb1333 0% 100%);
  border-bottom: 0.5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5vw;
}

.bubbles-container {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.bubbles-container span {
  height: 0.45rem;
  width: 0.45rem;
  position: absolute;
  border-radius: 50%;
  border: 1px solid;
  -webkit-animation: animate linear infinite;
          animation: animate linear infinite;
}

.bubbles-container span:nth-child(even) {
  background-color: #fff;
}

.header__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

@media only screen and (max-width: 51.25em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

.header__container .name-wrapper {
  width: 55vmax;
  text-align: center;
  color: #fff;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 68.75em) {
  .header__container .name-wrapper {
    width: 63vmax;
  }
}

@media only screen and (max-width: 51.25em) {
  .header__container .name-wrapper {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__container .name-wrapper .myName {
  font-size: 2.3rem;
}

.header__container .name-wrapper .myName__title {
  font-size: 16vmin;
}

.header__container .name-wrapper .myOccupation {
  font-size: 2.5rem;
  margin-right: 4rem;
}

@media only screen and (max-width: 51.25em) {
  .header__container .name-wrapper .myOccupation {
    margin-right: 0;
  }
}

.myGreeting {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #f8bbd0;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  margin-right: 10rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 51.25em) {
  .myGreeting {
    margin-right: 0;
  }
}

.myGreeting span {
  display: block;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  font-family: "Redressed", cursive;
  font-weight: 800;
  -webkit-animation: zoomIn 2s linear infinite;
          animation: zoomIn 2s linear infinite;
}

.myGreeting span:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.myGreeting span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@media only screen and (max-width: 51.25em) {
  .myGreeting span {
    display: none;
  }
}

.myPhoto {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: -3rem;
}

@media only screen and (max-width: 51.25em) {
  .myPhoto {
    position: absolute;
    bottom: 18%;
    left: 42%;
  }
}

.myPhoto figure {
  height: 26rem;
  width: 15rem;
  position: relative;
  z-index: 100;
}

@media only screen and (max-width: 51.25em) {
  .myPhoto figure {
    height: 11rem;
    width: 12rem;
  }
}

.myPhoto figure img {
  -o-object-fit: initial;
     object-fit: initial;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2000%);
            transform: translateY(-2000%);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2000%);
            transform: translateY(-2000%);
    opacity: 0;
  }
}

.message__container {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__info {
  width: 32rem;
  padding: 1.5rem 3rem;
  background-color: #bb1333;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form__info > label {
  display: block;
  margin: 0.5rem 0;
  position: relative;
}

.form__info > label input,
.form__info > label textarea,
.form__info > label button {
  font-size: 1.4rem;
  padding: 1rem;
  min-width: 100%;
  background-color: #bb1333;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  caret-color: #fff;
  color: #fff;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form__info > label input::-webkit-input-placeholder,
.form__info > label textarea::-webkit-input-placeholder,
.form__info > label button::-webkit-input-placeholder {
  color: #e6c8e6;
}

.form__info > label input:-ms-input-placeholder,
.form__info > label textarea:-ms-input-placeholder,
.form__info > label button:-ms-input-placeholder {
  color: #e6c8e6;
}

.form__info > label input::-ms-input-placeholder,
.form__info > label textarea::-ms-input-placeholder,
.form__info > label button::-ms-input-placeholder {
  color: #e6c8e6;
}

.form__info > label input::placeholder,
.form__info > label textarea::placeholder,
.form__info > label button::placeholder {
  color: #e6c8e6;
}

.form__info > label input:focus + span,
.form__info > label input:valid + span,
.form__info > label textarea:focus + span,
.form__info > label textarea:valid + span,
.form__info > label button:focus + span,
.form__info > label button:valid + span {
  -webkit-transform: translate(-3.5rem, -1.8rem);
          transform: translate(-3.5rem, -1.8rem);
  background-color: #e6c8e6;
  color: #bb1333;
}

.form__info-placeholder {
  position: absolute;
  top: 32%;
  left: 0;
  left: 1rem;
  pointer-events: none;
  color: #c8c8c8;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form__info-message span {
  top: 8%;
}

.form__info-btn {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #d3155f60 !important;
}

.form__info-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form__info-btn:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.message__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 6vw;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.22);
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  margin-top: 1rem;
}

.message__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  height: 70vh;
  width: 40rem;
  max-width: 90%;
  background-color: #f8bbd0;
  border: 3px solid #bb1333;
  border-radius: 5px;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  z-index: 10000;
}

.message-reply {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  font-size: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.3;
}

.message-close {
  font-size: 1rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.nav {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: moveLeft 0.4s ease-in 5s;
          animation: moveLeft 0.4s ease-in 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media only screen and (max-width: 60em) {
  .nav {
    -webkit-animation: none;
            animation: none;
    left: -5rem;
  }
}

.nav__link {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8bbd0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.2), -0.5rem 0rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.2), -0.5rem 0rem 1rem rgba(0, 0, 0, 0.2);
}

.nav__link .fas {
  color: #bb1333;
}

.nav__link .tooltip {
  position: absolute;
  top: 2rem;
  left: 3.5rem;
  font-size: 1rem;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  color: #fff;
  opacity: 0;
}

.nav__link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.nav__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__link:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@-webkit-keyframes moveLeft {
  0% {
    left: 0;
  }
  100% {
    left: -3.7rem;
  }
}

@keyframes moveLeft {
  0% {
    left: 0;
  }
  100% {
    left: -3.7rem;
  }
}

.nav-btn {
  position: fixed;
  top: 2%;
  right: 2%;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 3px;
  font-size: 2.3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #bb1333;
  z-index: 100;
  display: none;
}

@media only screen and (max-width: 60em) {
  .nav-btn {
    display: block;
  }
}

.navHover:hover {
  -webkit-transform: translateX(3.7rem);
          transform: translateX(3.7rem);
}

@media only screen and (max-width: 60em) {
  .navHover:hover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.project__container {
  margin-left: auto;
  width: 60rem;
  max-width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project {
  position: relative;
  width: 22rem;
  height: 20rem;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 0rem #bb1333, 0.5rem 0.5rem 0 #bb1333;
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1), -0.5rem -0.5rem 0rem #bb1333, 0.5rem 0.5rem 0 #bb1333;
  border-radius: 1.5rem 2px 0;
  overflow: hidden;
  margin: 2rem 1rem;
  cursor: pointer;
}

.project__img svg {
  height: 100%;
  width: 100%;
}

.project__info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.project__info--name {
  font-size: 2.5rem;
  color: #f0f0f0;
}

.project__info--btn, .project__info--code, .project__info--link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #bb1333;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.project__info--btn:hover, .project__info--code:hover, .project__info--link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project__info--btn:active, .project__info--code:active, .project__info--link:active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.project:hover .project__info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.project__modal--closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  10%,
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  10%,
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.services__container {
  margin-left: auto;
  width: 60rem;
  max-width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.service {
  height: 12rem;
  width: 24rem;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  margin: 2rem 0;
}

.service > * {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

.service__image {
  background-color: #bb1333;
  padding: 2.5rem;
  border-radius: 3px;
}

.service__image svg {
  height: 100%;
  width: 100%;
}

.service__title {
  background-color: #bb1333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.service__title h2 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.2;
}

@-webkit-keyframes coverRotate {
  0% {
    -webkit-transform: skewY(-3deg) rotateY(0deg);
            transform: skewY(-3deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: skewY(-3deg) rotateY(-150deg);
            transform: skewY(-3deg) rotateY(-150deg);
  }
}

@keyframes coverRotate {
  0% {
    -webkit-transform: skewY(-3deg) rotateY(0deg);
            transform: skewY(-3deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: skewY(-3deg) rotateY(-150deg);
            transform: skewY(-3deg) rotateY(-150deg);
  }
}

.skill__container {
  margin-right: auto;
  -webkit-perspective: 200rem;
          perspective: 200rem;
  width: 60rem;
  max-width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skill {
  position: relative;
  height: 14rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 2rem;
}

.skill:nth-child(1), .skill:nth-child(4) {
  width: 13rem;
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
}

.skill:nth-child(2), .skill:nth-child(5) {
  width: 12.3rem;
  -webkit-transform: rotateY(-35deg);
          transform: rotateY(-35deg);
}

.skill:nth-child(3), .skill:nth-child(6) {
  width: 12.5rem;
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
}

.skill > * {
  border: 1px solid;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.skill__front {
  background-color: #bb1333;
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  text-align: center;
}

.skill__front::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.45rem;
  height: 100%;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.skill__front::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.5rem;
  height: 100%;
  width: 1.5rem;
  background-color: #fff;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.skill__back {
  background-color: #bb1333;
  -webkit-transform: translateZ(-1.5rem);
          transform: translateZ(-1.5rem);
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.skill__icon {
  fill: #f7f7f7;
  height: 6rem;
  width: 8rem;
}

.skill__name {
  color: #fff;
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.skill__rating {
  font-size: 1.2rem;
  color: #fff;
}

.skill::after {
  content: "";
  position: absolute;
  right: 0.4rem;
  bottom: -1.5rem;
  height: 1.7rem;
  width: 100%;
  background-color: #fff;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg) translateZ(0rem);
          transform: rotateX(-90deg) translateZ(0rem);
}

.order-right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 60em) {
  .order-right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.section__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 60em) {
  .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__title span {
  display: block;
  font-size: 6rem;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
}

@media only screen and (max-width: 60em) {
  .section__title span {
    display: inline-block;
    font-size: 5rem;
    border-bottom: 2px solid #e91e63;
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */